<%- include('template/cabecera', {tituloWeb: 'detalle de mascota' }) %>

    <div class="container">
        <h1>Detalle Mascota</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %>
            </p>
            <!-- si mascota no está registrada -->
            <a href="/mascotas" class="btn btn-dark btn-block">volver</a>
            <% } %>

                <% if (!error) { %>

                    <form action="" id="formularioEditar" data-id="<%= mascota.id %>">
                        <input type="text" class="form-control my-2" name="nombre" value="<%= mascota.nombre %>"
                            id="nombreInput">
                        <input type="text" class="form-control my-2" name="descripcion"
                            value="<%= mascota.descripcion %>" id="descripcionInput">
                        <button class="btn btn-warning btn-block" type="submit">Modificar</button>
                    </form>

                    <hr>

                    <button class="btn btn-danger btn-sm" id="btnEliminar" data-id="<%= mascota.id %>">
                        Eliminar
                    </button>
                    <!-- no usar onclick, usar id de addeventlistener -->

                    <!-- <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <%= mascota.id %>
                                </th>
                                <td>
                                    <%= mascota.nombre %>
                                </td>
                                <td>
                                    <%= mascota.descripcion %>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" id="btnEliminar" data-id="<%= mascota.id %>">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->

                    <% } %>
    </div>

    <%- include('template/footer') %>

        <script>
            const btnEliminar = document.querySelector('#btnEliminar')

            btnEliminar.addEventListener('click', async () => {
                console.log('vlick')
                const id = btnEliminar.dataset.id
                console.log('id', id)

                try {
                    const data = await fetch(`/mascotas/${id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    console.log(res);

                    if (res.estado) {
                        window.location.href = '/mascotas'
                    } else {
                        console.log(res);
                    }

                } catch (error) {
                    console.log(error);
                }
            })

            const formularioEditar = document.querySelector('#formularioEditar')

            formularioEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                // console.log('submit');
                const nombre = formularioEditar.elements['nombre'].value
                const descripcion = document.querySelector('#descripcionInput').value // otra manera
                const id = formularioEditar.dataset.id
                // console.log(nombre, descripcion, id);

                try {
                    const data = await fetch(`/mascotas/${id}`, {
                        method: 'put',
                        headers: {
                            'Content-Type': 'application/json'
                        }, // para mandar un json de forma sencilla a travez de los datos bodyParser
                        // 'Content-Type': 'application/x-www-form-urlencoded' (de otra manera) bodyParser
                        body: JSON.stringify({
                            nombre,
                            descripcion
                        }) // para no poner nombre:nombre, descripcion:descripcion (ya q es redundante)
                    })
                    const res = await data.json()
                    // console.log(res)

                    if (res.estado) {
                        window.location.href = '/mascotas' // volver
                    } else {
                        console.log(res)
                    }

                } catch (error) {
                    console.log(error)
                }
            })

        </script>